@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Gourmet Le French";
  src: url("/font/GourmetLeFrench/GourmetLeFrench.otf");
}
@font-face {
  font-family: "Gourmet Le French";
  src: url("/font/GourmetLeFrench/GourmetLeFrench.ttf");
}
@media (max-width: 600px) {
  .logo {
    width: 100vw !important;
    margin-bottom: 80px !important;
    position: absolute;
    top: 20%;
  }

  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 40vh !important;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }

  nav li {
    width: auto;
    text-align: center;
  }

  .services__drop {
    pointer-events: none;
    cursor: default;
    color: #999999;
    text-decoration: none;
  }

  nav li a,
  .dropbtn {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  footer {
    padding: 10px;
    flex-direction: column;

  }

  .socialNetwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: flex-end;
  }

  .socialNetwork li {
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100%;
    
  }
  .socialNetwork ul{
    margin: 0;
    padding: 0;
  }
  .socialNetwork a{
    width: 15vw;
  }
  .socialNetwork img{
  display: flex;
  width: 10vw !important;
  background: linear-gradient(#f4eed300, #f4eed300);
  height: auto;
  align-content: flex-end;
}
  footer .contactAccueil {
    font-size: 14px;
    justify-content: center;
  }
  iframe{
    justify-content:center ;
  }
}

html {
  font-size: 16.5px;
  font-family: "Gourmet Le French", "Poppins";
  margin: auto;
  padding: 0;
  background-color: antiquewhite;
}

body {
  font-family: "Gourmet Le French", "Poppins";
  line-height: 1.45em;
  background-color: antiquewhite;
  color: #000000;
}

/* Bannière */
header {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  background-image: url(/images/photo-Fanny/test2.jpeg); 
  background-size: 100vw;
  height:90vh;
  width: 100%;
  background-attachment: fixed;

}

.logo {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 40vw;
  margin-bottom: auto;
 background: linear-gradient(#f4eed300, #f4eed300);
  align-items: center;
  margin: 0;
  padding: 0;
}

/* icon SNS*/
.socialNetwork {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  background: linear-gradient(#f4eed300, #f4eed300);
}

.socialNetwork ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#f4eed300, #f4eed300);

}

.socialNetwork li {
  list-style-type: none;
  margin-right: 20px;
  background: linear-gradient(#f4eed300, #f4eed300);

}

.socialNetwork img {
  display: flex;
  width: 4vw;
  background: linear-gradient(#f4eed300, #f4eed300);
  height: auto;
}

.socialNetwork a {
  display: flex;
  width: 100%;
  background: linear-gradient(#f4eed300, #f4eed300);
  height: 100%;
}

.socialNetwork img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/*nav barre*/
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 5px;
}

nav li a,
.dropbtn {
  display: block;
  justify-content: space-between;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav li a:hover,
.dropdown:hover .dropbtn {
  transition: 0.3s;
  transform: scale(1.2);
}

nav li.dropdown {
  display: inline-block;
}

nav .dropdownContent {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav .dropdown:hover .dropdownContent {
  display: block;
}

/*footer*/
footer {
  background: linear-gradient(#f4eed370, #f4eed373), url(/images/Frame.png);
  background-color:antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: auto;
  margin-top: 10px;
  justify-content: space-around;
}
iframe{
  display: flex;
  justify-content: flex-end;
  justify-self: center;
  margin-bottom: 2em;
}

/*info contact*/
.contactAccueil {
  width: auto;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: bold;
  background:  linear-gradient(#f4eed300, #f4eed300);  
}

.contactAccueil ul {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background:  linear-gradient(#f4eed300, #f4eed300);  
}

.contactAccueil li {
  margin-top: 5px;
  background:  linear-gradient(#f4eed300, #f4eed300);  
}

