/* article*/


.article__traiteur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.article__traiteur img{
    margin: 30px;
    width: 40vw;
    border-radius: 50%;
}
.article__traiteur h2{
    display: block;
    font-weight: 600;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}