html {
  font-size: 16.5px;
  font-family: "Poppins";
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  margin: 30px;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 40vw;
}

.container h3,
p,
a {
  text-align: center;
  padding: 5px;
}

.container a {
  display: block;
  width: 100%;
  max-width: 200px;
  border: solid 1px black;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  background-color: white;
}

.container p {
  font-family: "Poppins";
  font-weight: 500;
}

.container h3 {
  text-decoration: underline;
  font-size: 25px;
}

.card__traiteur {
  background: linear-gradient(#f4eed382, #f4eed382), url(/images/photo-Fanny/Traiteur-1.jpeg)no-repeat center;
  background-size: cover;
}

.card__btob {
  background: linear-gradient(#f4eed382, #f4eed382), url(/images/photo-Fanny/btob-1.jpg)no-repeat center;
  background-size: cover;
}

.card__team_build {
  background: linear-gradient(#f4eed382, #f4eed382), url(/images/photo-Fanny/team_build.jpeg)no-repeat center;
  background-size: cover;
}

.card__cooking_lesson {
  background: linear-gradient(#f4eed382, #f4eed382), url(/images/photo-Fanny/cooking_lesson.jpeg)no-repeat center;
  background-size: cover;
}

.container a:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  
  .card {
    margin: 10px;
  }
  
  .container {
    width: 90%;
  }
  
  .container a {
    max-width: 50%;
  }
  
  .container h3 {
    font-size: 20px;
  }
  
  .card__traiteur,
  .card__btob,
  .card__team_build,
  .card__cooking_lesson {
    background-size: 100%;
  }
}